@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.font-main {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.menu {
    position: fixed;
    z-index: 22;
    top: 30px;
    left: 20px;
    display: none;
    cursor: pointer;
}

.menu i {
    font-size: 35px !important;
}

.nav-bar-b {
    padding-top: 60px;
    background: #212120 !important;
    color: #fff;
    height: 100%;
    overflow: hidden;
    transition: 0.3s all;

    ul {
        list-style: none;
        text-align: center;
        height: 100vh;
        padding: 0;
        position: relative;

        .link {
            font-size: 12px;
            align-self: center;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-weight: 100;
            color: #ccc !important;

            &.router-link-exact-active {
                padding: 15px 25px;
                border-radius: 7px;
                background: #007bff;
                font-weight: bolder;
            }
        }

        a:hover {
            text-decoration: none;
            color: #ddd;
        }
    }
}



.bg-green {
    background: linear-gradient(87deg, #2dce89, #2dcecc) !important;
}

.bg-main {
    background-color: #f6f7fc;
}

.personal {
    border: 5px solid #f6f7fc;
    border-radius: 50%;
}

.bg-back {
    background: #172b4d !important;
}

@media (max-width: 770px) {
    .nav-bar-b {
        position: fixed;
        top: 0;
        left: -40%;
        z-index: 9999;
        padding-top: 60px;
        width: 40%;
        background: #212120 !important;
        color: #fff;
        height: 100%;
        overflow: hidden;
        transition: 0.3s all;
        border-radius: 5px;
    }
    .menu {
        display: block;
    }
    .hh::before {
        content: "x";
        position: absolute;
        top: -50px;
        right: 20px;
        font-size: 20px;
        font-weight: bolder;
        color: #ccc;
        cursor: pointer;
    }
    .Maps{
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    .hh::before {
        display: none;
    }
}